$white: #fff;
$black: #464646;
$dark: #094152;
$blue-light: #68a3ae;
$blue-dark: #0b5b6c;


$main-color: $black;
$link-color: $main-color;

$min-width: 320px;
$max-width: 1080px;
$base-bg: #fff;
$base-font-size: 2.2rem;
$mobile-font-size: 1.8rem;
$base-line-height: 1.31;
$base-font-family: 'unna', sans-serif;
$custom-font-family: 'Montserrat', sans-serif;

$default-transition: all .3s linear;

$footer-height: 206px;