#main-content .et_pb_button {
  background: $blue-dark;
  box-shadow: 0 22px 24px rgba(1,17,26,.1);
  color: #fff;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  font-family: $custom-font-family;
  height: 50px;
  line-height: 50px !important;
  padding: 0 30px !important;
  text-align: center;
  text-transform: uppercase;
  &:hover {
    background: darken($blue-dark, 5%);
    box-shadow: 0 22px 24px rgba(1,17,26,.2);
  }
  @media screen and (max-width: 580px) {
    height: 40px;
    font-size: 15px;
    line-height: 40px !important;
    padding: 0 15px !important;
  }
}//.et_pb_button


//MOBILE MENU BUTTON
.menu-toggle {
  background: none;
  border: none;
  position: relative;
  height: 7rem;
  width: 7rem;
  @media screen and (min-width: 768px) {display: none;}
  &:hover .navigation-icon:before {top: -1rem;}
  &:hover .navigation-icon:after {top: 1rem;}
  &.active .navigation-icon {
    background-color: transparent;
    &:before {
      top: 0;
      transform: rotate(135deg);
    }
    &:after {
      top: 0;
      transform: rotate(-135deg);
    }
  }
}//.menu-toggle

.navigation-icon {
  margin-top: 3.5rem;
  position: relative;
  &,
  &:before,
  &:after {
    background-color: #333;
    display: inline-block;
    height: 2px;
    width: 3rem;
  }
  &:before,
  &:after {
    content: "";
    left: 0;
    position: absolute;
    transition: $default-transition;
  }
  &:before {top: -.8rem;}
  &:after {top: .8rem;}
}//.navigation-icon